@require 'layout/theme'

.viewport
  height 600px
  svg
    height 600px
    display block
    text
      pointer-events none
      font-family 'Lato', Arial
      font-weight 500
      font-size 1em
      fill #444

.infoCard
  position relative
  .infoBody
    position absolute
    top 0px