<!-- Place this tag where you want the button to render. -->
<a class="github-button" href="https://github.com/rajpurkar/t-sneez" data-icon="octicon-star" data-style="mega" data-count-href="/rajpurkar/t-sneez/stargazers" data-count-api="/repos/rajpurkar/t-sneez#stargazers_count" data-count-aria-label="# stargazers on GitHub" aria-label="Star rajpurkar/t-sneez on GitHub">Star</a>