<!-- Place this tag where you want the button to render. -->
<a class="github-button" href="https://github.com/rajpurkar/tsneez" data-icon="octicon-star" data-style="mega" data-count-href="/rajpurkar/tsneez/stargazers" data-count-api="/repos/rajpurkar/tsneez#stargazers_count" data-count-aria-label="# stargazers on GitHub" aria-label="Star rajpurkar/tsneez on GitHub">Star</a>