.viewport {
  height: 600px;
}
.viewport svg {
  height: 600px;
  display: block;
}
.viewport svg text {
  pointer-events: none;
  font-family: 'Lato', Arial;
  font-weight: 500;
  font-size: 1em;
  fill: #444;
}
.infoCard {
  position: relative;
}
.infoCard .infoBody {
  position: absolute;
  top: 0px;
}
